<app-layout title="Async Fragments Demo using Marko">
  <@subHeader>
    <a href="https://github.com/peerreynders/marko-progressive-rendering" target="_blank">
      View code on Github
    </a>
  </@subHeader>
  <group-panel renderMode=input.renderMode />
</app-layout>
